<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Try Django</title>
	</head>
	<body>

        {% include "navbar.html" %}

		{% block content %}
            replace me
        {% endblock %}
	</body>
</html>
